<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-form">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand linkovi" href="/products">Web Shop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-form" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav linkovi">
       
        <li style="color:white"><a href="/products?category=1">Muska obuca</a></li>
        <li class="linkovi"><a href="/products?category=2">Zenska obuca</a></li>
        <li class="linkovi"><a href="/products?category=3">Djecija obuca</a></li>
      </ul>
   
      <ul class="nav navbar-nav navbar-right">
        <% if !signed_in? %>
        <li><a href="/sessions/new"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Prijava</a></li>
       
        <li><a href="/users/new"><span class="glyphicon glyphicon-log-in"></span> Registracija</a></li>
        <% end %>

         <% if signed_in? %>
          <li><a href="/carts"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Korpa<span class="badge" id="cart-badge"><%if session[:cart_id] %><%=Cart.find_by_id(session[:cart_id]).line_items.count%><% end %></span></a></li>
       <%end%>
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dobro dosli<% if signed_in? %>,<%=current_user.username%><%end%><span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% if signed_in? %>
         
          <li><%= link_to "Odjava", session_path(current_user), method: "delete" %></li>
          <% end %>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

