<!-- Placanje -->


  <div class="cart-payment">
        <div class="k-p-d">
          <div class="row">
          <div class="col-md-4 korpa" >KORPA</div>
          <div class="col-md-4 dostava">DOSTAVA</div>
          <div class="col-md-4 placanje">PLACANJE</div>
          </div>
        </div>
        <div class="payment-box">
          <strong> Cijena </strong>
          <p>Narudzba: <%=@price %>KM</p>
          <p>Isporuka: 30.0KM</p>
          <p>Ukupno: <%=@price+30.00%>KM</p>
        </div>
  </div>


